absl-py
flax
jax>=0.4.28
jaxlib>=0.4.28
lightning
lightning-utilities
matplotlib
ml_collections
optax
orbax-checkpoint
penzai
pytorch-lightning
PyYAML
tabulate
tensorboard
tensorboardX
tensorflow
tensorflow-datasets
torch
torchmetrics
torchvision
tqdm
wandb
